@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

* {
    box-sizing: border-box !important;
}

html  {
    background-color: #a6a6a6;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background:
              radial-gradient(circle at 14% 20%, rgba(70, 150, 255, 0.8), transparent 46%),
              radial-gradient(circle at 86% 18%, rgba(80, 220, 190, 0.8), transparent 44%),
              radial-gradient(circle at 78% 84%, rgba(255, 150, 210, 0.8), transparent 42%),
              linear-gradient(150deg, #ebebeb 0%, #c6c6c6 52%, #b7b7b7 100%);
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

input[type="text"],
input[type="tel"],
input[type="password"] {
    all: unset;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff52;
    border-radius: 999px;
    padding: 6px 12px;
    color: rgb(0, 0, 0);
}

button {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ffffff52;
    color: #313131;
    border-radius: 999px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
}

.content a {
    all: unset;
    cursor: pointer;
    color: #3445ff;
    transition: 0.2s ease;
}

.content a:hover {
    color: #5563ff;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-container .placeholder {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: transparent;
    font-weight: 400;
    pointer-events: none;
    transition: 0.3s ease;
}

.input-container:has(input:placeholder-shown) .placeholder {
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.4);
}
